/lifecycle-manager/GameLifecycleManagement/nbproject/private/
.DS_Store
/lifecycle-manager/FGJ2015/nbproject/private/
/lifecycle-manager/FGJ2015/build/
/nbproject/private/
/build/
/mini-games/nbproject/private/